!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= 'Gemgem - Feedback for a better world.'
    %meta{:name => "description", :content => 'Rails Foundation'}
    = ::ActionController::Base.helpers.stylesheet_link_tag 'application', media: 'all'
    = ::ActionController::Base.helpers.javascript_include_tag 'vendor/modernizr'
    = ::ActionController::Base.helpers.javascript_include_tag 'application'
    =  csrf_meta_tags
  %body
    %header
      = concept "navigation/cell", OpenStruct.new(real_user: params[:real_user], current_user: params[:current_user], "signed_in?" => tyrant.signed_in?)
    %main{:role => "main"}
      = render :messages
      = content
