%h1 Your Cart

%h2 Items

Count: #{@model.count}

%table
  %tr
    %th ID
    %th Title
    %th Description
    %th Qty

  - @model.items.each do |item|
    %tr
      %td
        = item.product.id
      %td
        = item.product.title
      %td
        = item.product.description
      %td
        = item.qty
