%h1 Your Cart

%h2 Items

%table
  %tr
    %th ID
    %th Title
    %th Price
    %th Description
  - @cart.items.each do |item|
    %tr
      %td
        = item.id
      %td
        = item.title
      %td
        = "$#{item.price || 0}"
      %td
        = item.description
