%h1 Products

%table
  %tr
    %th ID
    %th Title
    %th Price
    %th Description
    %th
  - @model.each do |product|
    %tr
      %td
        = product.id
      %td
        = product.title
      %td
        = "$#{product.price || 0}"
      %td
        = product.description
      %td
        %form{ action: "/carts/add", method: "post"}
          %input{type: "hidden", name: "products_attributes[0][id]", value: product.id}
          %input{name: "products_attributes[0][qty]", value: 1}
          %input{type: "submit", value: "Add to cart!"}
